@charset "utf-8";
/* CSS Document */
ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.container{
	margin:0 auto;
	width:550px; height:300px;
	}
.container .container_img{
	width:550px;
	height:350px;
	overflow:hidden;
	}
.container .container_img ul{
	width:2920px;
	height:350px;
	}
.container .container_img ul li{
	position:relative;
	float:left;
	}
.container ul.container_num{
	position:relative;
	top:-80px;
	width:550px;
	height:80px;
	background:rgba(0,0,0,0.5);
	}
.container ul.container_num li{
	float:left;
	margin:30px 0 0 20px;
	padding:0 5px;
	width:10px;
	height:20px;
	border:1px solid #bbb;
	background:gray;
	}
.container ul.container_num li.current{	margin-top:25px;
	border:1px solid #fff;

	}
.container ul.container_num li.current a{
	color:#fff;
	}
.container ul.container_num li a{
	text-decoration:none;
	color:#bbb;
	}
